.slider {
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;


  &__track {
    overflow: hidden;
    transition: transform .5s;
    &.no-transition {
      transition: none;
    }
  }

  &__element {
    float: left;
    *  {
      user-select: none;
      pointer-events: none
    }
    &--copy {
      visibility: hidden;
      .slider.infinite & {
        visibility: visible;
      }
    }
  }

  &__arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 20px solid transparent;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    &--prev {
      left: 0;
      border-right-color: black;
    }

    &--next {
      right: 0;
      border-left-color: black;
    }

  }

  &__pagination {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    cursor: pointer;
    text-align: center;

    &__bullet {
      background-color: gray;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      margin: 0 5px;
      display: inline-block;

      &.active {
        width: 24px;
      }
    }
  }
}
